*{
    padding-left: 30px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    line-height: 3;
    color: white;
    /* padding-left: 30px; */
    
}

.col{
    
    margin:10px;
    height: 50px;
    flex: 1;
    background-color: #669DA1;
}
.col-2{
    margin:10px;
    height: 50px;
    flex: 2;
    background-color: #669DA1;
}
.col-3{
    margin:10px;
    height: 50px;
    flex: 3;
    background-color: #669DA1;
}
