
*{
    margin : 5px
}
#search {
    width : 100px;
    height : 25px;
    background-color: #F5F5F5;
    border : 2px solid #44B0B1;
    color: #44B0B1;
    border-radius: 30px;
    font-weight: bolder;
}

#plus {
    background-color:#44B0B1 ;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: transparent;
    color: white
}


#account {
    width: 150px;
    height: 35px;
    background-color: #2B78E4;
    color:white;
    border : 3px solid black;
    box-shadow: 3px 3px black;
}